@use './colors.scss' as *;

.header {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    align-items: center;

    .logo-group,
    .left-part {
        display: flex;
        justify-content: flex-start;
        text-align: center;
        align-items: center;
        gap: 30px;
    }

    .left-part {
        gap: 50px;
    }

    h2 {
        font-size: 2rem;
        display: inline-block;
        margin: 0;
        padding: 0;
        line-height: 1;
    }

    img {
        width: 50px;
        display: inline-block;
    }
}

li {
    vertical-align: middle;

    margin-right: 30px;
    padding: 5px 15px 7px;
    border-radius: 40px;
    border: 1px solid $text_color;


    &:hover {
        border: $black_color;
        background: $accent_color;
        border: 1px solid $accent_color;
        cursor: pointer;

        a {
            color: $white_color;
        }
    }

    &:has(a.active) {
        border: 1px solid $black_color;
        background: $black_color;

        a {
            color: $white_color;
        }
    }

    a {
        text-decoration: none;
        font-size: 1rem;
        color: $text_color;
    }
}