.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #7B35E5;
    transition: .4s;
    border-radius: 26px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #ccc;
}

input:checked+.slider:before {
    transform: translateX(25px);
    background-color: #7B35E5;
}

h1 {
    font-size: 2rem;
    color: #ccc;
    text-shadow: 0 0 10px rgba(187, 134, 252, 0.7);
    margin-top: 20px;
}

@media (max-width: 395px) {
    .switch {
        width: 35px;
        height: 20px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        border-radius: 50%;
        left: 3px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
    }

    input:checked+.slider:before {
        transform: translateX(15px);

    }
}